
.vira-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;
    > .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        &:hover, &:focus {
            text-decoration: none;
        }
        &.disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
        &.active, &:hover {
            color: $menu-item-active-color;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }
    .submenu-item {
        position: relative;
        .submenu-title {
            display: flex;
            align-items: center;
            .arrow-icon {
                margin-left: 3px;
                transition: transform .3s ease-in-out;
            }

            &:hover {
                .arrow-icon {
                    transform: rotate(180deg);
                }
            }
        }
        .vira-submenu {
            // display: none;
            list-style: none;
            padding-left: 0;
            white-space: nowrap;
            .menu-item {
                padding: $menu-item-padding-y $menu-item-padding-x;
                cursor: pointer;
                transition: $menu-transition;
                color: $body-color;
                &.active, &:hover {
                    color: $menu-item-active-color !important;
                }
            }

            &.submenu-opend {
                // display: block;
            }
        }
    }
    .is-vertical {
        .arrow-icon {
            transform: rotate(0deg) !important;
        }
        &.is-opened {
            .arrow-icon {
                transform: rotate(180deg) !important;
            }
        }
    }
}
.menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    border-right: $menu-border-width solid $menu-border-color;
    & > .menu-item {
        border-left: $menu-border-width solid transparent;
        &.active, &:hover {
            border-bottom: 0px;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }
}

.menu-horizontal {
    .vira-submenu {
        position: absolute;
        left: 0;
        top: calc(100% + 8px);
        border: $menu-border-width solid $menu-border-color;
        box-shadow: $menu-box-shadow;
        background-color: $white;
    }
}